@{
    Layout = "_Layout";
}
<link href="~/lib/dist/css/skins/_all-skins.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/plugins/iCheck/all.css">
<section class="content-header">
    <h1>
        วัตถุดิบ
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> ข้อมูลหลัก</a> > </li>
        <li><a href="#"><i class="fa fa-dashboard"></i> วัตถุดิบ</a> ></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> เพิ่มวัตถุดิบ</a> ></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">วัตถุดิบ</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 text-right">
                                รูปภาพวัตถุดิบ
                            </div>
                            <div class="col-sm-4 text-center">
                                <img id="img_emp" src="~/material_img/@ViewData["mtr_img"]" height="150px" width="150px" /><br />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 text-right">
                                ประเภทวัตถุดิบ
                            </div>
                            <div class="col-sm-4">
                                @Html.DropDownList("mtr_tm", ViewData["group_material"] as List<SelectListItem>, new { @class = "form-control select2", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 text-right">
                                รหัสวัตถุุดิบ
                            </div>
                            <div class="col-sm-4">
                                @Html.TextBox("mtr_code", ViewData["mtr_code"], new { @class = "form-control", @disabled="disabled" })
                            </div>
                            <div class="col-sm-2 text-right">
                                ชื่อวัตถุดิบ
                            </div>
                            <div class="col-sm-4">
                                @Html.TextBox("mtr_name", ViewData["mtr_name"], new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 text-right">
                                รายละเอียด
                            </div>
                            <div class="col-sm-4">
                                @Html.TextArea("mtr_detail", ViewData["mtr_detail"].ToString(), new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 text-right">
                                Serial No.
                            </div>
                            <div class="col-sm-4">
                                @Html.TextBox("mtr_serial", ViewData["mtr_serial"], new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 text-right">
                                ที่เก็บ
                            </div>
                            <div class="col-sm-4">
                                @Html.DropDownList("mtr_shelf", ViewData["shelf"] as List<SelectListItem>, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-2 text-right">
                                หน่วยรับ
                            </div>
                            <div class="col-sm-4">
                                @Html.DropDownList("mtr_unit_get", ViewData["unit_get"] as List<SelectListItem>, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 text-right">
                                จำนวนจัดเก็บ (ยอดรับ x หน่วยเบิก)
                            </div>
                            <div class="col-sm-4">
                                @Html.TextBox("mtr_keep_num", ViewData["mtr_keep_num"], new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-2 text-right">
                                หน่วยเบิก
                            </div>
                            <div class="col-sm-4">
                                @Html.DropDownList("mtr_unit_expose", ViewData["unit_expose"] as List<SelectListItem>, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 text-right">
                                ความกว้าง
                            </div>
                            <div class="col-sm-4">
                                @Html.TextBox("mtr_width", ViewData["mtr_width"], new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-2 text-right">
                                ความยาว
                            </div>
                            <div class="col-sm-4">
                                @Html.TextBox("mtr_long", ViewData["mtr_long"], new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 text-right">
                                ระบุด้าน
                            </div>
                            <div class="col-sm-4">
                                @{ bool r, c, n;}
                                @if (ViewData["mtr_side"].ToString() == "R")
                                {
                                    r = true;
                                    c = false;
                                    n = false;


                                }
                                else if (ViewData["mtr_side"].ToString() == "L")
                                {
                                    r = false;
                                    c = true;
                                    n = false;

                                }
                                else
                                {

                                    r = false;
                                    c = false;
                                    n = true;
                                }


                                @Html.DropDownList("mtr_side", new List<SelectListItem> {
                               new SelectListItem { Text="", Value="N", Selected=n},
                               new SelectListItem { Text="ด้านขวา", Value="R", Selected=r},
                               new SelectListItem { Text="ด้านซ้าย", Value="L", Selected=c},
                           }, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 text-right">
                                หมุนกลับด้านได้
                            </div>
                            <div class="col-sm-4">
                                @{ string roll1, roll2;}
                                @if (ViewData["mtr_roll"].ToString() == "Y")
                                {

                                    roll1 = "checked";
                                    roll2 = "";

                                }
                                else
                                {

                                    roll1 = "";
                                    roll2 = "checked";
                                }


                                <input type="radio" value="Y" name="mtr_roll" id="mtr_roll" @roll1 disabled="disabled"/>  ใช่
                                <input type="radio" value="N" name="mtr_roll" id="mtr_roll" @roll2 disabled="disabled"/>  ไม่ใช่
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 text-right">
                                แจ้งเตือนจุดสั้งซื้อ
                            </div>
                            <div class="col-sm-4">

                                @{ string open, close;}
                                @if (ViewData["mtr_noti"].ToString() == "Y")
                                {

                                    open = "checked";
                                    close = "";

                                }
                                else
                                {

                                    open = "";
                                    close = "checked";
                                }


                                <input type="radio" value="Y" name="mtr_noti" id="mtr_noti" @open disabled="disabled"/>  เปิด
                                <input type="radio" value="N" name="mtr_noti" id="mtr_noti" @close  disabled="disabled"/>  ปิด
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 text-right">
                                จำนวนขั้นต่ำ
                            </div>
                            <div class="col-sm-4">
                                @Html.TextBox("mtr_noti_min", ViewData["mtr_noti_min"], new { @class = "form-control", @disabled = "disabled" })<span>@Html.TextBox("mtr_min_unit", "หน่วย", new { @class = "form-control", @readonly = true })</span>
                            </div>
                            <div class="col-sm-2 text-right">
                                จำนวนสูงสุด
                            </div>
                            <div class="col-sm-4">
                                @Html.TextBox("mtr_noti_max", ViewData["mtr_noti_max"], new { @class = "form-control", @disabled = "disabled" })<span>@Html.TextBox("mtr_max_unit", "หน่วย", new { @class = "form-control", @readonly = true })</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 text-right">
                                กลุ่มในสติ๊กเกอร์
                            </div>
                            <div class="col-sm-4">
                                @Html.DropDownList("mtr_sticker", ViewData["sticker"] as List<SelectListItem>, new { @class = "form-control" , @disabled="disabled"})
                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-center">
                        <a class="btn btn-primary" asp-action="material" asp-controller="Material"><span><i class="fa fa-backward"></i></span> ย้อนกลับ</a>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery-3.2.1.min.js"></script>
<script src="~/lib/plugins/iCheck/icheck.min.js"></script>
<script src="~/lib/bower_components/moment/min/moment.min.js"></script>
<!-- SlimScroll -->
<script src="~/lib/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/lib/bower_components/fastclick/lib/fastclick.js"></script>
<script>
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_flat-green'
    })

</script>
<script>
    $(document).ready(function () {

        var txt = $('#mtr_unit_get :selected').text();

        $('#mtr_min_unit').val(txt);
        $('#mtr_max_unit').val(txt);

    })
    $(document).on('change', '#mtr_unit_get', function () {


        var txt = $('#mtr_unit_get :selected').text();

        $('#mtr_min_unit').val(txt);
        $('#mtr_max_unit').val(txt);

    })
</script>
<script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();


                reader.onload = function(e) {
                    $('#img_emp').attr('src', e.target.result);

                }
                reader.readAsDataURL(input.files[0]);

            }

        }

        $(".selectFile").change(function() {
            readURL(this);
        });
</script>