@{
    Layout = "_Layout";
}
<section class="content-header">
    <h1>
        รายงานระบบขาย : ยอดขาย
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> รายงานระบบขาย</a> > </li>
        <li><a href="#"><i class="fa fa-dashboard"></i> ยอดขาย</a>  </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li class=""><a href="#tab_4-1" data-toggle="tab">แยกตามลูกค้า</a></li>
                    <li class=""><a href="#tab_4-2" data-toggle="tab">แยกตามเขตการขาย</a></li>
                    <li class=""><a href="#tab_1-1" data-toggle="tab">แยกตามพนักงงานขาย</a></li>
                    <li><a href="#tab_2-2" data-toggle="tab">แยกตามประเภทสินค้า</a></li>
                    <li class="active"><a href="#tab_3-2" data-toggle="tab">แยกตามสินค้า</a></li>
                    <li class="pull-left header"><i class="fa fa-th"></i> ออกรายงานตามเงื่อนไข >></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="tab_4-1">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <h4>รายงานยอดขาย แยกตามลูกค้า</h4>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-primary"><i class="fa fa-print"></i> พิมพ์รายงานสรุป</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-warning"><i class="fa fa-print"></i> แสดงเลขที่เอกสาร</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-warning"><i class="fa fa-print"></i> แสดงรายการสินค้า</a>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    วันที่ เริ่ม
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    ถึง วันที่
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    ประเภทสินค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    สินค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    สายการขาย
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                   พนักงานขาย
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    ประเภทลูกค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    ลูกค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    แสดงยอดค่าใช้จ่ายเพิ่มเติม
                                </div>
                                <div class="col-md-4">
                                    <input id="Checkbox1" type="checkbox" /> แสดง
                                </div>
                             
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>เงื่อนไขการแสดงข้อมูล</h5>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    เลือกเงื่อนไข
                                </div>
                                <div class="col-md-2">
                                    <input id="Radio1" type="radio" name="a" /> VAT
                                </div>
                                <div class="col-md-2">
                                    <input id="Radio1" type="radio" name="a" /> ไม่ VAT
                                </div>
                                <div class="col-md-2">
                                    <input id="Radio1" type="radio" name="a" checked /> ทั้งหมด
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    เลือกเงื่อนไข
                                </div>
                                <div class="col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกประเภทสินค้าทั้งหมด
                                </div>
                                <div class="col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกสินค้าทั้งหมด
                                </div>
                                <div class="col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกสายการขายทั้งหมด
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกพนักงานขายทั้งหมด
                                </div>
                                <div class="col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกประเภทลูกค้าทั้งหมด
                                </div>
                                <div class="col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกลูกค้าทั้งหมด
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="tab_4-2">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <h4>รายงานยอดขาย แยกตามเขตการขาย</h4>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-primary"><i class="fa fa-print"></i> พิมพ์รายงานสรุป</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-warning"><i class="fa fa-print"></i> แสดงเลขที่เอกสาร</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-warning"><i class="fa fa-print"></i> แสดงรายการสินค้า</a>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    วันที่ เริ่ม
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    ถึง วันที่
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    ประเภทสินค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    สินค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    สายการขาย
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    พนักงานขาย
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    ประเภทลูกค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    ลูกค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    แสดงยอดค่าใช้จ่ายเพิ่มเติม
                                </div>
                                <div class="col-md-4">
                                    <input id="Checkbox1" type="checkbox" /> แสดง
                                </div>

                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>เงื่อนไขการแสดงข้อมูล</h5>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    เลือกเงื่อนไข
                                </div>
                                <div class="col-md-2">
                                    <input id="Radio1" type="radio" name="a" /> VAT
                                </div>
                                <div class="col-md-2">
                                    <input id="Radio1" type="radio" name="a" /> ไม่ VAT
                                </div>
                                <div class="col-md-2">
                                    <input id="Radio1" type="radio" name="a" checked /> ทั้งหมด
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    เลือกเงื่อนไข
                                </div>
                                <div class="col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกประเภทสินค้าทั้งหมด
                                </div>
                                <div class="col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกสินค้าทั้งหมด
                                </div>
                                <div class="col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกสายการขายทั้งหมด
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกพนักงานขายทั้งหมด
                                </div>
                                <div class="col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกประเภทลูกค้าทั้งหมด
                                </div>
                                <div class="col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกลูกค้าทั้งหมด
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_1-1">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <h4>รายงานยอดขาย แยกตามพนักงานขาย</h4>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-primary"><i class="fa fa-print"></i> พิมพ์รายงานสรุป</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-warning"><i class="fa fa-print"></i> แสดงเลขที่เอกสาร</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-warning"><i class="fa fa-print"></i> แสดงรายการสินค้า</a>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    วันที่ เริ่ม
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    ถึง วันที่
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    ประเภทสินค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    สินค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    สายการขาย
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    พนักงานขาย
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    ประเภทลูกค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    ลูกค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    แสดงยอดค่าใช้จ่ายเพิ่มเติม
                                </div>
                                <div class="col-md-4">
                                    <input id="Checkbox1" type="checkbox" /> แสดง
                                </div>

                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>เงื่อนไขการแสดงข้อมูล</h5>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    เลือกเงื่อนไข
                                </div>
                                <div class="col-md-2">
                                    <input id="Radio1" type="radio" name="a" /> VAT
                                </div>
                                <div class="col-md-2">
                                    <input id="Radio1" type="radio" name="a" /> ไม่ VAT
                                </div>
                                <div class="col-md-2">
                                    <input id="Radio1" type="radio" name="a" checked /> ทั้งหมด
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    เลือกเงื่อนไข
                                </div>
                                <div class="col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกประเภทสินค้าทั้งหมด
                                </div>
                                <div class="col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกสินค้าทั้งหมด
                                </div>
                                <div class="col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกสายการขายทั้งหมด
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกพนักงานขายทั้งหมด
                                </div>
                                <div class="col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกประเภทลูกค้าทั้งหมด
                                </div>
                                <div class="col-md-3">
                                    <input id="Radio1" type="checkbox" name="a" checked /> เลือกลูกค้าทั้งหมด
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="tab_2-2">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <h4>รายงานยอดขาย แยกตามประเภทสินค้า</h4>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-primary"><i class="fa fa-print"></i> พิมพ์รายงานสรุป</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-warning"><i class="fa fa-print"></i> แสดงเลขที่เอกสาร</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-warning"><i class="fa fa-print"></i> แสดงรายการสินค้า</a>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    วันที่ เริ่ม
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    ถึง วันที่
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    ประเภทสินค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    สินค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    สายการขาย
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    พนักงานขาย
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    ประเภทลูกค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    ลูกค้า
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("txt", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    แสดงยอดค่าใช้จ่ายเพิ่มเติม
                                </div>
                                <div class="col-md-4">
                                    <input id="Checkbox1" type="checkbox" /> แสดง
                               </div>/
  F  1   Ψ/iv( F   1  F    >  F  ߊ  1Fz
슛  lacc F  1   1 FuFd ܛA%7"~f _d1WudWFd11W1ZTrl7fKu<"X/
 dFF Ψ   FFW<5[uVK%(oMӋoh1MfG>0Ӹ,yeJσ¸i5>I d11 uFWd1uu K
 W1ߨdΛWFddШZ/zߨu승dιzI1 d1W1u u /
         F  1 vAlMr-gW"k
  1  F    Ί  <iFcNaQoD>1FΨW 슛 i
="籥<XFF  1   1 FuFd Ίy;0?ϼ[3y.ӚlW1FW1 FddF11 F Fi2Xl Ψ   FFW  Kgί_%Qs 'oiiTUF 쨨W ߊ F1 W1 iL% i "鏛-31ޗ=4W Fypwzc>  W1ߨdΛWFdduߨu승dιuFd1 d-}C&@P-wk             F  1   i="FoD pV"cCdiD na"̊ 1!y߈VcƊ  1FΨW 슛 ·> F  1F1FF<dErC="c~lgDI
Ίdd W11ud1WudWFxxCWxJxWWVae[f Fp|=DC"PJe' h0=}2yKV=0|yW  1d d dWdFWF<ZEW ߊ F1 W1  iivz
d11 uFWd>1#N  W1ߨdΛWF ZP(UcEأFX승dιuFd1 d11A9Rȝ>_F             F  1 vAlMlmd F   1  F    Ί    F ¹iJy4h0o;h0 DJJtUh.h(Р F  1F1F>1   1 FuFd Ίdddg1A_&7, 8ΖwUXd11W1FW1 FddF11iRuKdyDdߪGp=eMφUa өAzk [0JϞJVGt8huth0x =.h#iE,JVz
uFWd1uud  W1-жWFdd1WߨuP7̍NxKf
d1W1u uF          KnR i padxM1 p"Mx nG"D ePeu/><y{hhy-{Ju#+!hVJJihϫyt[>ƨ  F  1Iu/(F  1   1 FuFd ΊT'(sJ3rM_8 <I(udWFd11W1FW1 Fdx1x=DpaZM1fFpVkoҙne ¨n,¸h+̗J,0+,,MJ*ht T©[
 d d11 uFWd1i1z/  W1ߨdΛWFdx쥉>}ߨu승dΥ1XN1 d1W1u iF cass="forgPp"X(  1   Ψ   d a@=3PowX
  Ί    F  ߊ  gUc߇Q-Ɂ^·3l  1F1FF  1<inauFFhDp%dÁ[!yhrz@\wdC 4'V 1uhtY!hϣJh(,VJh¸Ӛ:nVhluJt|helW  1d d dWdFWZdK>ƨW ߊ F1 W1  udi2c׏7r~Ã-k>FWd1uud  W1ߨdΛWK0f騖1R6һRyJ0d/ *y0K\y!,	ทลh0ร¸h910hy F   1  F    Ί  dvk
 ߊ  1FΨW 슛KܨcƼٝ P-幥U
 1F1FF  1   1<W!FK =d0eJ3rJV>&~ZWC8φfD[!rVF/n,Vy?0-!u+߫0¸ӆ0uv0e,[!lFW  1d d dKkE(F 쨨W ߊ F1 Kg>((u  d d11 uKzd1uud  W-2㱛WFdd-VޭQgC!Д(uFd1 d1W1uZsh b-ane actiG"="@}3-# >/  Ψ    F<vlpQs= ormo
   F  ߊ  1WcȆ 
 F  1F1FFK͛ss~-3"/FuFd Ίdd W11ud1WupI!	Jthtw!hϏJ
h+,VĊ	ހ0¸ц0t^0"e,3[!,ge:R}  1d d dWdFWF WZW ߊ F1 W1  u  xiΜ(b,-x /lWd1uud  W1ߨdΛWZdP@7eRإ^wƏ@fΈ%f-/-/y0pCy ,	านh0:</p(  Ψ    F   -diX
  Ί    F  ߊ  gUc߇/  F  1F1Fڛssen-wprEwX- ɂن %d-cxLGkx>KW[JJVi0JV[,1h0ytD0Za>( dFF Ψ   FFK/i܅(1d d dWdFWF 쨨F R"}-U
 u  d d11 uFW%r9&f@]btRc#ЇWNy"饼]3I1MVf,JV,ey\!0!h y0Z?Ty!:/k/l             F  1 /Kv䨊    F   1  F</dΊ    F  ߊ </FΨW 슛 JA>רF  1F1F cRb rm-vr kk(d Ίdd W11ud1W1d
@y3\UW1FW1 FddF11 F Fi2F
aӪ\-d>lFW  1d d dWdFW_fӋ[h0yD h0x=z(1  u  d d11 uN1uud  W1ߨdΛWF ZP(P}ZFu승dιuFd1 d1W1{σ_B-
Dxt, "", ne{la "wMrOnPoת(    F   1  F    ҅v>(  F  ߊ  1FΨW ͊Qٵ"ɲáF>רF  1F1FF  1h0วGJV3y,1 }11ud1WudWFd11WgkW1 FddF11 F  dFF Êlsنc
O黔kW  1d d dWdFWF s{vtKGx= Gf @A9s y"݁)ï~ޜ"|>FWd1uud  W1ߨdҔldd1Wߨu얶·ENιuFd1 d1W1i߇E㔓 uF           diANasb"D-Po̶    F   1  F   vs=Po"k
 ߊ  1FΨW 슛KܨcƼٝ P-幥T
 1F1FF  1   1G[nJ!
[,"hѤh	/_dWFd11W1FW1 Fx-l11 F  dFF Ψ   ZKنUcl֨%>N d dWdFWF 쨨W ߊ{t?TVZ9"Zt y",de΄d}pٝ :AA	(1(Xd  W1ߨdΛWFdx쥉>1Wߨu승dιuF g '}UrM9֊ﻧ uF             F  1 [0h[0wh¹\( F   1  F    Ί  /iX( ߊ  1FΨW 슛F ɱ˝lK
1F1FF  1   1 .O9Hv!xެ႙V0f"U=1LVu?1bQ&dU ^ir]V}W1FW1 FddF11 F  dFIdЅ   FFW  >Ez/
d dWdFWF 쨴F> F1 W1  u<d- ؂73wŜg C/lWd1uud  W1ߨdWNyDf1Wߨu승dιi'ps7,Z|Fx>׹ uF             F  1¸h:0	0hyVyk
  1  F    Ί    Z/FiTƊ  1FΨW 슛 ØA_s	d-ㅠ1F1FF  1   1 Fu&j0m`<lx3=ydGW%fwAOï~؁1O}1 FddF11 F  dFF ҧZ>
 FFW  1d  id%M
mFW ߊ F1 W1  u  d [VaVUVo:[h
JnXd  W1ߨdΛWFdx쥉>1Wߨu승dιuF g '}UrM9֊黧 uF             F  1 tN.Z(tx"J w QAla = rtrN"}k
 ߊ  1FΨW 슛F>׊ F  1F1IKTl  1   1 FuFx/·ܧdd W11ud1WuxP(p@̪~dDz(1 FddF11 F  dFF<_s=wX(FW  1d d dWdZZ܊A
sQP䥡FZ"9 F1 W1  u  d d11JVu	hh0hө,1JJ0ߨdΛWFdd1W#ƊdιuFd1 d1W1iWҘ=6M
md4">
      F  1   Ψ HteB(xe , D, n{ss fmcM޾l}1FΨW 슛 /X  1F1FF  1iv rlwM(-Ǌ/dd W11ud1WudWFd11htW!hϦJ:NF11 F  dFF Ψ  d/רFW  1d d dWdFKWaQO4ݔ> F1 W1  u  d d11mƦV`	_<G3ywdLD{ 7RbߵdA6\91Wߨu승dιiz d1W1u uF  /div>
    F  1  /ᘶ    F   1  Zdivaorgo"(ߊ  1FΨW 슛TlˮP\݈>רF  1F1FF  uTlasb=NxFi2Чdd W11ud1WudWFd1WM0JVX0h0yuf1hh߈,G\h0=L%yxW=0|yJtJm/d d dWdFWF 쨨Xi> F1 W1  u  d dux΍ahNKf_ud  W1ߨdΛWFddᢏGx V:ӞV'ύM-Idh y0zX9 uF            <IKT>/
  Ψ    F /Wv//
 F    Ί    F<dK  1FΨW 슛 F  -1
QQ m-Ad 
  1 FuFd Ίdd W1-FZu'}C 'fIkd11W1FW1 Fddg1lQsAo(K-Ѕ   FFW  1d Jq>h*ᗋJ,1,,~J:hu!w©[J[VFVi->
uFWd1uud  W1-жWFdd1WߨzdιuFd1 d1xTk> uF          Jr
F  1   Ψ<iv΍Ns["r^gcMupX
  Ί    F  ߊ ipȵU>Ɗ  F  1b[AMז2">1   1 FuFd Ίdd W11դh[ *Juhtw hϠ FddF11 F  dFF Ψdv FFW  1d d  dRDoN^WẪ/} ߊ F1 W1  u  d xad·=4WD!3'1fRe=U˪>㱛WFdd1Wߨu>dιuFd1 d1W1u 9C="ol-md-2"/
  F  1   Ψ   iuiW"CCdiW" t=o"LaeDa  ,!y1 GFΨW 슛  Fivר1F1FF  1   1<6
C7sƖOiv}11ud1WudWFd11W-Vxd[f Dehe[ rWKofFmhc Xe=!2K,tI( d dWdFWF 쨨W ߖE>k1 W1  u  d d->·_FWd1uud  KZgdΛWFdd-T_h̪A4uFd1 d1W1uiuA
ss"row">
   F  1   Ψ<iv΍Ns["ld<">l    Ί    F  ߊ  *[0V?4,:[L,0J0Jd"t31Yh
  1F1FF  1/dig>luFd Ίdd W11ud1WF<ܛ'fr_<U1FW1 FddF11 F  dFF Gi=d	 [ekԴ 1^!" dc!!WnZӋ{h0aMG10+Ӹ,yeJϵ¸03J2Gt_WJ00)0>I91uud  W1ߨdΛWFxEz1Wߨu승dι1F(bsy3uf9 uF             F  -KnRϨi"Ź  yp hkxnpOe=" ck 1!y޷¸MJy-h0w?h0![J
JuEh-h=O, F  1F1FF <Wg/   1 FuFd Ίdd W11<21AQh+Kw3>(1W1FW1 FddF11 F Kn4FiWo"p[A	ҙWnmφC3ί[!AkFd/dJĆϖJVGt"htth0o=h-EO, uFWd1uud  WuIΛWFdd1W#ƧdιuFd1 d1gX9 uF         <Kvas Dor|gP"/
Ψ    F   1 <v cs">(  F  ߊ  1FΨW ͊Qٵ"ɲáFfKol幥/F1FF  1   1 FuFd  yax~!=aGUJ0&]%| 1ύuIWh0ytC0hhއ,G\h0=N	ynV=0lyJtJm©z9d d dWdFWF 쨨W<Z>
F1 W1  u  d d11 4@  "wXd  W1ߨdΛWFddå]dK<ӞV'ύM-),"%3zG1= htJ핆GGปร0yV¸0:h¹2hV:J0!Wg!JޫhV(  F    Ί    F  ߊ/Wv1FΨW 슛 d᫨s=uD/lF  1   1 FuFd ΊL10dJ3CCW:u3Gh,\<3]C,ίt/ h<,VJh¸-Ӛ	HWhotJ(uZhe2J[ϔ
1d d dWdFWF z ߊ F1 W1  u <kiN11 uFWd1ui-T>  W1ߨdΛWFkWI1Wߨu언0ÞL0KI1 d1W1u>_F          < /HC@-c~LtGϨ-Ψ   d>  1  F  < ܇abcs	m-Ɗ  >k} 슇Υ//ٸɚM]
