@{
    Layout = "_Layout";
}
<section class="content-header">
    <h1>
        ใบเสนอราคา
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> ใบเสนอราคา</a> > </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-8 col-lg-4">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">รายละเอียด</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                วันที่เสนอราคา
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                วันที่ส่งสินค้า
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                เลขที่เสนอราคา
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                กำหนดชำระเงิน
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                เลขที่อ้างอิง
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                เงื่อนไขการชำระเงิน
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <h5>ข้อมูลลูกค้า</h5>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                ลูกค้า
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                ร้าน
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                ที่อยู่
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                ชื่อผู้ติดต่อ
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                เบอร์โทร
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                หมายเหตุ
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                ผู้เสนอราคา
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                เบอร์ติดต่อ
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                ผู้จัดทำ
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                ผู้อนุมัติ
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                ผู้ยืนยันการสั่งซื้อ
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->

        </div>
        <div class="col-md-4 col-lg-8">
            <!---box2-->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">รายละเอียดสินค้า</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">รายการสินค้า</a></li>
                            <li><a href="#tab_2" data-toggle="tab">ค่าใช้จ่ายเพิ่มเติม</a></li>
                            <li><a href="#tab_3" data-toggle="tab">รายการวัตถุดิบ</a></li>
                            <li><a href="#tab_4" data-toggle="tab">ปริมาณวัตถุดิบ</a></li>
                            <li><a href="#tab_5" data-toggle="tab">รายละเอียดวัตถุดิบ</a></li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary" data-toggle="modal" data-target="#Mymodal"><i class="fa fa-plus-square-o"></i> เพิ่มรายการสินค้า</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>ลำดับ</th>
                                                <th>รหัสสินค้า</th>
                                                <th>ชื่อสินค้า</th>
                                                <th>ห้อง</th>
                                                <th>สี</th>
                                                <th>แบบสินค้า</th>
                                                <th>รายละเอียด</th>
                                                <th>กว้าง</th>
                                                <th>ยาว</th>
                                                <th>ตร.ม.</th>
                                                <th>ตร.ม.(รวม)</th>

                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!--Modal-->
                                <div class="modal fade" id="Mymodal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title">รายการสินค้า</h4>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            แบบสินค้า
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                        <div class="col-sm-3">
                                                            รหัสสินค้า
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <input class="form-control" id="date" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            รายละเอียด
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            ห้อง
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                        <div class="col-sm-3">
                                                            สี
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            กว้าง
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                        <div class="col-sm-3">
                                                            ยาว
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            ตร.ม.
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                        <div class="col-sm-2">
                                                            ตร.ม.(รวม)
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                        <div class="col-sm-2">
                                                            ราคารวม(ตร.ม.)
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            จำนวน(ขวา)
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                        <div class="col-sm-2">
                                                            จำนวน(ซ้าย)
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                        <div class="col-sm-2">
                                                            จำนวน(รวม)
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            หน่วย
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                        <div class="col-sm-2">
                                                            ราคา:หน่วย
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                        <div class="col-sm-2">
                                                            ราคา(รวม)
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            ส่วนลด1(%)
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                        <div class="col-sm-2">
                                                            ส่วนลด2(%)
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                        <div class="col-sm-2">
                                                            ส่วนลด3(%)
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            ส่วนลด4(%)
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                        <div class="col-sm-2">
                                                            ส่วนลด5(%)
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                        <div class="col-sm-2">
                                                            ส่วนลด(รวม)
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            ราคาสุทธิ
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <input class="form-control datepicker" id="date" />
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">ยกเลิก</button>
                                                <a class="btn btn-primary">เพิมรายการ</i></a>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <!-- /.modal -->
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_2">
                                The European languages are members of the same family. Their separate existence is a myth.
                                For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                                in their grammar, their pronunciation and their most common words. Everyone realizes why a
                                new common language would be desirable: one could refuse to pay expensive translators. To
                                achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                                words. If several languages coalesce, the grammar of the resulting language is more simple
                                and regular than that of the individual languages.
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_3">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                                like Aldus PageMaker including versions of Lorem Ipsum.
                            </div>
                            <div class="tab-pane" id="tab_4">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                                like Aldus PageMaker including versions of Lorem Ipsum.
                            </div>
                            <div class="tab-pane" id="tab_5">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                                like Aldus PageMaker including versions of Lorem Ipsum.
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <!-- /.box-footer -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">ชำระเงินมัดจำ</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                ลงวันที่
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                วิธีการชำระเงิน
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                จำนวนเงิน
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                เลขที่บัญชี
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                รายละเอียด
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>

                        </div>
                    </div>

                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <!-- /.box-footer -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">สถานที่จัดส่ง</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                ชื่อผู้รับสินค้า
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                ที่อยู่
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                ถนน
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                ตำบล/แขวง
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                อำเภอ/เขต
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                จังหวัด
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                รหัสไปรษณีย์
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("txt", "", new { @class = "form-control" })
                            </div>

                        </div>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <!-- /.box-footer -->
            </div>
           
        </div>
    </div>
</section>>

