@{
    Layout = "_Layout";
}
<section class="content-header">
    <h1>
      ข้อมูลบริษัท
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> ข้อมูลบริษัท</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">ข้อมูลบริษัท</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
              @{ Html.BeginForm("update_company", "Company", FormMethod.Post);}
                    <div class="box-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 control-label text-right">
                                ชื่อบริษัท [ไทย] </div>
                            <div class="col-sm-10">
                                @Html.TextBox("comp_name_th", ViewData["comp_name"], new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2 control-label text-right">
                                    ชื่อบริษัท [อังกฤษ]:
                                </div>
                                <div class="col-sm-10">
                                    @Html.TextBox("comp_name_en", ViewData["comp_name_en"], new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2 control-label text-right">
                                    ที่อยู่ :
                                </div>
                                <div class="col-sm-4">
                                    @Html.TextBox("comp_address", ViewData["comp_address"], new { @class = "form-control" })
                                </div>
                                <div class="col-sm-2 control-label text-right">
                                    ถนน :
                                </div>
                                <div class="col-sm-4">
                                    @Html.TextBox("comp_road", ViewData["comp_road"], new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2 control-label text-right">
                                    จังหวัด :
                                </div>
                                <div class="col-sm-4">
                                    @Html.DropDownList("comp_province", ViewData["comp_province"] as List<SelectListItem>, new { @class = "form-control select2", @onChange = "optionProvince();" })
                                </div>
                              
                                <div class="col-sm-2 control-label text-right">
                                    เขต/อำเภอ :
                                </div>
                                <div class="col-sm-4">
                                    <div class="amphur">
                                        @Html.DropDownList("comp_amphur", ViewData["comp_amphur"] as List<SelectListItem>, new { @class = "form-control select2", @onChange = "optionAmphur();" })
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2 control-label text-right">
                                    แขวง/ตำบล :
                                </div>
                                <div class="col-sm-4">
                                    <div class="district">
                                        @Html.DropDownList("comp_district", ViewData["comp_district"] as List<SelectListItem>, new { @class = "form-control select2" })
                                    </div>
                                </div>
                                <div class="col-sm-2 control-label text-right">
                                    รหัสไปรษณีย์ :
                                </div>
                                <div class="col-sm-4">
                                    @Html.TextBox("comp_postcode", ViewData["comp_postcode"], new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2 control-label text-right">
                                    เบอร์โทรศัพท์ :
                                </div>
                                <div class="col-sm-4">
                                    @Html.TextBox("comp_tel", ViewData["comp_tel"], new { @class = "form-control" })
                                </div>
                                <div class="col-sm-2 control-label text-right">
                                    เบอร์โทรสาร :
                                </div>
                                <div class="col-sm-4"> 
                                    @Html.TextBox("comp_fax", ViewData["comp_fax"], new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2 control-label text-right">
                                    เลขที่การค้า :
                                </div>
                                <div class="col-sm-10">
                                    @Html.TextBox("comp_trade", ViewData["comp_trade"], new { @class = "form-control" })
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2 control-label text-right">
                                    เลขที่ผู้เสียภาษี :
                                </div>
                                <div class="col-sm-10">
                                    @Html.TextBox("comp_tax", ViewData["comp_tax"], new { @class = "form-control" })
                                </div>
                               
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2 control-label text-right">
                                    E-mail:
                                </div>
                                <div class="col-sm-4">
                                    @Html.TextBox("comp_email", ViewData["comp_email"], new { @class = "form-control" })
                                </div>
                                <div class="col-sm-2 control-label text-right">
                                    www :
                                </div>
                                <div class="col-sm-4">
                                    @Html.TextBox("comp_web", ViewData["comp_web"], new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    <!-- /.box-body -->

                    <div class="box-footer text-center">
                        <button type="button" class="btn btn-default">ยกเลิก</button>
                        <button type="submit" class="btn btn-primary">บันทึกข้อมูล</button>
                    </div>
               @{Html.EndForm();}
            </div>
        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery-3.2.1.min.js"></script>
<script>
   
    function optionProvince() {

        var x = $('#comp_province').val();

        $.get('../../Amphur/option_amphur?id=' + x, function (data) {

            $('.amphur').html('');
            $('.amphur').html('<select id="comp_amphur" name="comp_amphur" class="form-control"  onChange="optionAmphur();">' + data + '</select>');
            $('#comp_amphur').select2();
        })

    }
    function optionAmphur() {

        var x = $('#comp_amphur').val();


    //    alert(x);
        $.get('../../District/option_district?id=' + x, function (data) {

            $('.district').html('');
            $('.district').html('<select id="comp_district" name="comp_district" class="form-control">' + data + '</select>');
            $('#comp_district').select2();
        })

    }
      

</script>
