@{
    Layout = "_Layout";
}
<!-- Content Header (Page header) -->
@using BIWBACK.Models
<section class="content-header">
    <h1>
        ข้อมูลประเภทลูกค้า
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> ข้อมูลหลัก</a></li>
        <li class="active"> ข้อมูลประเภทลูกค้า</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"> ประเภทลูกค้า </h3>
                </div>
                <!-- /.box-header -->
                <div class="text-right">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#Mymodal"><i class="fa fa-plus-square-o"></i> เพิ่ม ประเภทลูกค้า</a>
                    <br /><br />
                </div>
                <div class="box-body">

                    <!--Modal-->
                    <div class="modal fade" id="Mymodal">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">เพิ่ม ประเภทลูกค้า</h4>
                                </div>
                                <div class="modal-body">
                                    @{Html.BeginForm("insert_cus_type", "CusType", FormMethod.Post);}
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-2">
                                              รหัส
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.TextBox("type_code", ViewData["type_code"], new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3">
                                                <span class="text-red">*</span>ประเภทลูกค้า
                                            </div>
                                            <div class="col-sm-4">
                                               @Html.TextBox("type_name", "", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                VAT(%)
                                            </div>
                                            <div class="col-sm-3">
                                            @Html.TextBox("type_vat", "", new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3">
                                                VAT(%) จ่ายแทน
                                            </div>
                                            <div class="col-sm-4">
                                                @Html.TextBox("type_pay", "", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                ส่วนลด (%)
                                            </div>
                                            <div class="col-sm-3">
                                              @Html.TextBox("type_discount", "", new { @class = "form-control" })
                                            </div>
                                         
                                        </div>
                                    </div>
                                  
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">ยกเลิก</button>
                                        <button type="submit" class="btn btn-primary"><span><i class="fa fa-save"></i></span> บันทึก</button>
                                    </div>
                                    @{ Html.EndForm();}
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                    <!-- /.modal -->


                    <table id="example2" class="table table-bordered data_table">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>รหัส</th>
                                <th>รายการ</th>
                                <th>VAT (%)</th>
                                <th>VAT (%) จ่ายแทน</th>
                                <th>ส่วนลด (%)</th>
                               <th><span><i class="fa fa-gears"></i></span> จัดการ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1;}
                            @foreach (var item in ViewData["cus_type"] as List<customerTypeModel>)
                            {
                            <tr>
                                <td>@i</td>
                                <td>@item.type_code</td>
                                <td>@item.type_name</td>
                                <td>@item.type_vat</td>
                                <td>@item.type_pay</td>
                                <td>@item.type_discount</td>
                                <td>
                                    <a class="btn btn-warning edit_ct" ref="@item.type_id" data-toggle="modal" data-target="#MymodalEditCT"><i class="fa fa-edit"></i> แก้ไข</a>
                                    <a class="btn btn-danger del_ct" ref="@item.type_id"><i class="fa fa-trash"></i> ลบ</a>
                                </td>
                            </tr>
                                i++;
                            }
                           </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!--Modal-->
            <div class="modal fade" id="MymodalEditCT">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">เพิ่ม ประเภทลูกค้า</h4>
                        </div>
                        <div class="modal-body">
                            @{Html.BeginForm("update_cus_type", "CusType", FormMethod.Post);}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-2">
                                        รหัส
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.TextBox("type_code_edit", "", new { @class = "form-control" ,@readonly = "true" })
                                    </div>
                                    <div class="col-sm-3">
                                        <span class="text-red">*</span>ประเภทลูกค้า
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.TextBox("type_name_edit", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-2">
                                        VAT(%)
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.TextBox("type_vat_edit", "", new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-3">
                                        VAT(%) จ่ายแทน
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.TextBox("type_pay_edit", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-2">
                                        ส่วนลด (%)
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.TextBox("type_discount_edit", "", new { @class = "form-control" })
                                        @Html.TextBox("type_id","",new { @class="form-control", @type="hidden"})
                                    </div>

                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">ยกเลิก</button>
                                <button type="submit" class="btn btn-primary"><span><i class="fa fa-save"></i></span> บันทึก</button>
                            </div>
                            @{ Html.EndForm();}
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>
            <!-- /.modal -->
        </div>
        <!-- /.col -->
    </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script src="~/lib/jquery/dist/jquery-3.2.1.min.js"></script>
<script>
    $(document).on('click', '.edit_ct', function () {

        var x = $(this).attr('ref');

        $('#type_id').val(x);

        $.get('../../CusType/select_cus_type?id=' + x, function (data) {

            var res = data.split('^');

            $('#type_code_edit').val(res[0]);
            $('#type_name_edit').val(res[1]);
            $('#type_vat_edit').val(res[2]);
            $('#type_pay_edit').val(res[3]);
            $('#type_discount_edit').val(res[4]);

        })


    })
</script>
<script>
    $(document).on('click', '.del_ct', function () {

        var x = $(this).attr('ref');

        swal({
            title: "คุณต้องการลบข้อมูลนี้ใช่หรือไม่?",
            // text: "คุณจะไม่่สามารถ",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel plx!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {

                $.get('../../CusType/del_cus_type?id=' + x, function () {

                    swal("ลบข้อมูลเรียบร้อย!", "", "success");
                    location.reload();
                })

            } else {
                swal("ยกเลิก", "", "error");
            }
        });

    });
</script>      