@{
    Layout = "_Layout";
}
<!-- Content Header (Page header) -->
@using BIWBACK.Models
<section class="content-header">
    <h1>
        ประเภทสาย
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> ข้อมูลหลัก</a></li>
        <li class="active">  ประเภทสาย</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"> ประเภทสาย</h3>
                </div>
                <!-- /.box-header -->
                <div class="text-right">
                    <a class="btn btn-info"><i class="fa fa-print"></i> พิมพ์</a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#Mymodal"><i class="fa fa-plus-square-o"></i> เพิ่ม  ประเภทสาย</a>
                    <br /><br />
                </div>
                <div class="box-body">

                    <!--Modal-->
                    <div class="modal fade" id="Mymodal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">เพิ่ม  ประเภทสาย</h4>
                                </div>
                                <div class="modal-body">
                                    @{ Html.BeginForm("insert_line","Information",FormMethod.Post);}
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                รหัส
                                            </div>
                                            <div class="col-sm-4">
                                             @Html.TextBox("line_code","",new { @class="form-control"})
                                            </div>
                                            <div class="col-sm-2">
                                                ชื่อสาย
                                            </div>
                                            <div class="col-sm-4">
                                                @Html.TextBox("line_name", "", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                 
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">ยกเลิก</button>
                                       <button type="submit" class="btn btn-primary"><span><i class="fa fa-save"></i> บันทึก </span></button>
                                    </div>

                                    @{ Html.EndForm();}
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                    <!-- /.modal -->


                    <table id="example2" class="table table-bordered data_table">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>รหัส</th>
                                <th>ชื่อสาย</th>
                                <th><span><i class="fa fa-gears"></i> จัดการ</span></th>

                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1;}
                            @foreach (var item in ViewData["line"] as List<lineModel>) {
                            <tr>

                                <td>@i</td>
                                <td>@item.line_code</td>
                                <td>@item.line_name</td>
                                <td>
                                    <a class="btn btn-warning edit_ln" ref="@item.line_id" data-toggle="modal" data-target="#MymodalEditLine"><i class="fa fa-edit"></i> แก้ไข</a>
                                    <a class="btn btn-danger del_ln" ref="@item.line_id"><i class="fa fa-trash"></i> ลบ</a>
                                </td>
                            </tr>
                                i++;
                            }
                            </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!--Modal edit-->
            <div class="modal fade" id="MymodalEditLine">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">แก้ไข  ประเภทสาย</h4>
                        </div>
                        <div class="modal-body">
                            @{ Html.BeginForm("update_line", "Information", FormMethod.Post);}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-2">
                                        รหัส
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.TextBox("line_code_edit", "", new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-2">
                                        ชื่อสาย
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.TextBox("line_name_edit", "", new { @class = "form-control" })
                                        @Html.TextBox("line_id", "", new { @class = "form-control" , @type="hidden"})
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">ยกเลิก</button>
                                <button type="submit" class="btn btn-primary"><span><i class="fa fa-save"></i> บันทึก </span></button>
                            </div>

                            @{ Html.EndForm();}
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>
            <!-- /.modal -->
        </div>
        <!-- /.col -->
    </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script src="~/lib/jquery/dist/jquery-3.2.1.min.js"></script>
<script>
    $(document).on('click', '.edit_ln', function () {

        var x = $(this).attr('ref');

        $('#line_id').val(x);

        $.get('../../Line/select_line?id=' + x, function (data) {

            var res = data.split('^');

            $('#line_code_edit').val(res[0]);
            $('#line_name_edit').val(res[1]);

        })


    })
</script>
<script>
    $(document).on('click', '.del_ln', function () {

        var x = $(this).attr('ref');

        swal({
            title: "คุณต้องการลบข้อมูลนี้ใช่หรือไม่?",
            // text: "คุณจะไม่่สามารถ",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel plx!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {

                $.get('../../Line/del_line?id=' + x, function () {

                    swal("ลบข้อมูลเรียบร้อย!", "", "success");
                    location.reload();
                })

            } else {
                swal("ยกเลิก", "", "error");
            }
        });

    });
</script>  