@{
    Layout = "_Layout";
}
@using BIWBACK.Models
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        ข้อมูลประเภทกลุ่มวัตถุดิบ
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> ข้อมูลหลัก</a></li>
        <li class="active"> ข้อมูลประเภทกลุ่มวัตถุดิบ</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"> ประเภทกลุ่มวัตถุดิบ </h3>
                </div>
                <!-- /.box-header -->
                <div class="text-right">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#Mymodal"><i class="fa fa-plus-square-o"></i> เพิ่ม กลุ่มวัตถุดิบ</a>
                    <br /><br />
                </div>
                <div class="box-body">

                    <!--Modal-->
                    <div class="modal fade" id="Mymodal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">เพิ่มประเภทกลุ่มวัตถุดิบ</h4>
                                </div>
                                @{ Html.BeginForm("insert_tm","Information",FormMethod.Post);}
                                <div class="modal-body">

                                    <div class="form-group">
                                        <div class="row">
                                           
                                            <div class="col-sm-2">
                                                ประเภท
                                            </div>
                                            <div class="col-sm-4">
                                              @Html.TextBox("tm_name", "", new { @class = "form-control" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">ยกเลิก</button>
                                        <button type="submit" class="btn btn-primary"><span><i class="fa fa-save"></i></span>บันทึก</button>
                                    </div>
                                </div>
                                @{ Html.EndForm();}
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                    <!-- /.modal -->


                    <table id="example2" class="table table-bordered data_table">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>ประเภท</th>
                                <th><span><i class="fa fa-gears"></i></span> จัดการ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1;}
                            @foreach (var item in ViewData["type_material"] as List<typeMaterialModel>)
                            {
                            <tr>
                                <td>@i</td>
                                <td>@item.tm_name</td>
                                <td>
                                    <a class="btn btn-warning edit_tm" ref="@item.tm_id" data-toggle="modal" data-target="#MymodalEditTM"><i class="fa fa-edit"></i> แก้ไข</a>
                                    <a class="btn btn-danger del_tm" ref="@item.tm_id"><i class="fa fa-trash"></i> ลบ</a>
                                </td>                              
                            </tr>
                                i++;
                            }
                         </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
  <!--Modal-->
<div class="modal fade" id="MymodalEditTM">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">แก้ไข ประเภทกลุ่มวัตถุดิบ</h4>
            </div>
            @{ Html.BeginForm("update_tm", "Information", FormMethod.Post);}
            <div class="modal-body">

                <div class="form-group">
                    <div class="row">

                        <div class="col-sm-2">
                            ประเภท
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBox("tm_name_edit", "", new { @class = "form-control" })
                        </div>

                    </div>
                </div>
                @Html.TextBox("tm_id", "", new { @class = "form-control" , @type="hidden"})
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">ยกเลิก</button>
                  <button type="submit" class="btn btn-primary"><span><i class="fa fa-save"></i></span>บันทึก</button>
                </div>
            </div>
            @{ Html.EndForm();}
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- /.modal -->

<script src="~/lib/jquery/dist/jquery-3.2.1.min.js"></script>
<script>
    $(document).on('click', '.edit_tm', function () {

        var x = $(this).attr('ref');

        $('#tm_id').val(x);

        $.get('../../Information/select_tm?id=' + x, function (data) {


            $('#tm_name_edit').val(data);

        })


    })
</script>
<script>
    $(document).on('click', '.del_tm', function () {

        var x = $(this).attr('ref');

        swal({
            title: "คุณต้องการลบข้อมูลนี้ใช่หรือไม่?",
            // text: "คุณจะไม่่สามารถ",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel plx!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {

                $.get('../../Information/del_tm?id=' + x, function () {

                    swal("ลบข้อมูลเรียบร้อย!", "", "success");
                    location.reload();
                })

            } else {
                swal("ยกเลิก", "", "error");
            }
        });

    });
</script>  